*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
	background-color: grey;
}

.header-barra-fondo {
  width: 100%;
  height: 50px;
  background-color: #222222;
}

.grid {
	display: flex;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
	margin: 10px;
}

.logo-superior {
	width: 40px;
	margin-left: 5px;
}

.menu-superior-botones {
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-size: 12px;
}

.letras-en-azul {
  color: #2196F3;
}

.boton-carrito {
  text-align: center;
  vertical-align: middle;
  border: none;
  padding: 0;
  margin: 0;
  background: yellow;
  width: 40px;
  height: 50px;
  display: flex;
  justify-content: space-around;
}

.titulo {
  font-family: 'Playfair Display', serif;	
}

.subtitulo {
  font-weight: bold;
  font-size: 10px;
}

.landing-banner__image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.header {
  width: 100%;
}

.banner_container {
  position: relative;
}

.banner_container_title {
  position: absolute;
  top: 20%;
  width: 100%;
  margin: 0 auto;
}

.banner_center {
	text-align: center;
	color: white;
}

.thumb {
	width: 100%;
	height: auto;
}

.items-counter {
	font-size: 20px;
}

.fa {
	align-self: center;
	background-color: yellow;
}

.cards-container {
  display: inline-flex;
  margin: 0 auto;
  flex-wrap: wrap;
}

.card {
  margin: 10px;
  padding: 10px;
  border: 1px solid green;
  width: 250px;
}

.item-name {
  text-decoration: none;
}

