*,
*::before,
*::after {
  box-sizing: border-box;
}

.header-barra-fondo {
  width: 100%;
  height: 50px;
  background-color: #222222;
}

.grid {
	display: flex;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
	margin: 10px;
}

.logo-superior {
	width: 40px;
	margin-left: 5px;
}

.menu-superior-botones {
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-size: 12px;
}

.letras-en-azul {
  color: #2196F3;
}

.boton-carrito {
  text-align: center;
  vertical-align: middle;
  border: none;
  padding: 0;
  margin: 0;
  background: #FFC107;
  width: 40px;
  height: 50px;
  display: flex;
  justify-content: space-around;
}

.titulo {
  font-family: 'Playfair Display', serif;
}

.subtitulo {
  font-weight: bold;
  font-size: 10px;
}

.landing-banner__image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.header {
  width: 100%;
}

.banner_container {
  position: relative;
}

.banner_container_title {
  position: absolute;
  top: 20%;
  width: 100%;
  margin: 0 auto;
}

.banner_center {
	text-align: center;
	color: white;
}

.thumb {
	width: 100%;
	height: auto;
}

.items-counter {
	font-size: 20px;
}

.fa {
	align-self: center;
}

.encabezado {
  font-family: 'Playfair Display', serif;
  margin-top: 15px;
  margin-bottom: 0;
}

.sub-encabezado {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  color: #999999;
  font-weight: bold;
}


.cards-container {
  display: inline-flex;
  margin: 0 auto;
  flex-wrap: wrap;
}

.card {
  margin: 10px;
  padding: 10px;
  border: 1px solid #999999;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2), 0px 1px 2px rgba(0, 0, 0, 0.19);
  width: 250px;
}

.item-name {
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  font-size: 12px;
  margin: 0;
}

.price {
  margin: 0;
  color: #999999;
}

.individual-item-container {
  display: flex;
}

.individual-item-image-container {
  max-width: 440px;
}

.individual-item-image {
  width: 100%;
}

.item-general-info {
  margin: 10px;
  padding: 10px;
  max-width: 300px;
  height: 190px;
  border: 1px solid #999999;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2), 0px 1px 2px rgba(0, 0, 0, 0.19);
}

.individual-item-price {
  text-align: right;
}

.item-details {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.item-details-font {
  font-size: 9px;
  margin: 0;
  color: #999999;
}

.item-details-font-decoration {
  text-decoration: underline;
}

.add-to-cart-button {
  background-color: #F44336;
  color: white;
  border: none;
  width: 90px;
  height: 30px;
  border-radius: 20px;
}