*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
	background-color: red;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.titulo {
	font-family: 'Playfair Display', serif;	
}

.main-text {
	font-family: 'Source Sans Pro', sans-serif;
}

.grid {
	border: 5px solid blue;
	display: flex;
	justify-content: space-between;
}
